.books__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    gap: 12px;
    border: 1px solid black;
}

.book {
    width: 100%;
    max-width: 250px;
    height: 390px;
    padding: 5px 5px;
    border-radius: 20px;
    background: rgb(240,215,203);
    cursor: pointer;
    transition: 50ms;
}

.book img {
  width: 100%;
  max-width: 250px;
  height: 235px;
  border-radius: 20px;
  border: 1px solid red;
}